@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato');

body {
  background: #e0e0e0;
  color: white;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

header {
  padding: 30px;
  background: #96e6ff;
  font-size: 60px;
}

h1,
h2 {
  font-family: 'Fredoka One', cursive;
}

h2 {
  font-size: 30px;
}

main {
  display: block;
  margin: 0 auto;
  background: #e0e0e0;
  height: 1000px;
  min-width: 900px;
}

.container {
  display: block;
  float:left;
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
}

.canvas {
  float: left;
  background: #e0e0e0;
  margin-right: 20%;
  width: 80%;
}

canvas {
  width: 100%;
  width: 800px;
  height: 600px;
}

.game-info {
  width: 20%;
  background: #96e6ff;
  margin-left: -20%;
  min-width: 200px;
}

.info-box {
  margin: 0 auto;
  border: 2px solid #4f4f4f;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
}
.info-box + .info-box {
  margin-top: 10px;
}

.players-list, .game-info-list {
  text-align: left;
}

.players-list li, .game-info-list li {
  margin: 5px 0;
}

span {
  margin-left: 10px;
  background: #ffaaaa;
  padding: 2px 5px;
  float: right;
}
