@import './reset.css';
@import './normalize.css';
@import './skeleton.css';
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Fredoka+One|Lato:400,400i,700,900');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  background: #c6c6c6;
  color: #fff;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.nav-container,
.header-container {
  width: 100%;
  background: #7dd3ef;
}

.nav-container {
  padding-top: 1rem;
}

nav,
header {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

header h1 {
  font-family: 'Fredoka One', sans-serif;
  letter-spacing: .01rem;
}

header h1 a,
header h1 a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

header h1 {
  font-size: 6rem;
  letter-spacing: .1rem;
  margin: 2rem 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cabin Sketch', sans-serif;
  letter-spacing: .01rem;
  margin-bottom: .5rem;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
}

.carousel h2,
.lobby h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.5rem;
  color: #a3a3a3;
}

.bold {
  font-weight: 900;
}

main {
  background: #c6c6c6;
}

.button {
  height: 2.5rem;
  line-height: 2.5rem;
  border-color: #fff;
  width: 100%;
  padding: 0;
}

.button:hover,
.button:focus {
  background-color: #fff;
  border-color: #fff;
}

.button-primary:disabled,
.button-primary:disabled:hover {
  background-color: #c6c6c6;
  border-color: #c6c6c6;
}

wired-button {
  background-color: #ffea8c;
  outline: none;
  width: 100%;
}

nav wired-button {
  background-color: transparent;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
  letter-spacing: .1rem;
  padding: .4rem;
  width: 100%;
}

nav wired-button:hover {
  background-color: #fff;
  color: #555;
}

nav a {
  width: 100%;
  display: inline-block;
}

.name-form wired-button {
  width: 100px;
  height: 50px;
}

.active-players wired-button {
  width: 150px;
  height: 50px;
}

wired-card {
  background-color: inherit;
}

.lobby wired-card {
  background-color: #e6ebe0;
}

.active-players wired-card {
  width: 170px;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  padding: .5rem;
}

.active-players wired-card p {
  margin: 1rem;
}

.banner {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  width: 820px;
  height: 4.5rem;
  line-height: 3.9rem;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 2rem;
  opacity: .9;
  background-color: #777;
  color: #fff;
}

.main-content,
.canvas-container {
  max-width: 800px;
  min-height: 50vh;
  margin: 2rem auto;
  padding: 2.5rem;
  box-sizing: border-box;
  background-color: #fff;
  color: #555;
}

.canvas-container {
  width: 800px;
  height: 600px;
  padding: 0;
}

.canvas-container canvas {
  width: 100%;
  height: 100%;
}

.lobby {
  padding-top: 0;
  padding-left: 7rem;
  padding-right: 7rem;
  font-size: 2rem;
}

.lobby h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: .05rem;
}

.lobby ul {
  list-style: none;
  display: inline-block;
}

.lobby input,
.lobby button {
  height: 5rem;
  font-size: 2rem;
}

.lobby input {
  margin-right: 2rem;
}

input[type="text"]:focus {
  border-color: #555;
}

.lobby button.start {
  margin-top: 3rem;
}

.player-info {
  padding-top: 6rem;
}

.rules {
  width: 70%;
  margin: 4rem auto 2rem auto;
  text-align: center;
}

.rule h2 {
  font-family: 'Lato';
  font-weight: 700;
  display: inline-block;
  margin: 0 .5rem;
  font-size: 1.6rem;
  letter-spacing: normal;
}

.rule p {
  font-size: 1.6rem;
  margin-bottom: 0;
}

.rule {
  margin-bottom: 1.5rem;
}

.reminder {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 5rem;
}

.waiting-players ul {
  opacity: .7;
}

.name-form {
  text-align: center;
}

.alert {
  background-color: #fff4e0;
  line-height: 1.5rem;
  border: 1px solid #fcd88f;
  padding: .5rem;
  font-size: 1.3rem;
  border-radius: 2px;
}

#scores {
  background-color: #fff;
  border-radius: 5px;
  color: #555;
  font-size: 1.2rem;
  letter-spacing: .05rem;
  padding: .5rem 1.5rem .2rem 0;
  margin-top: 1.8rem;
  /* box-sizing: border-box; */
}

#scores ul {
  list-style: none;
  text-indent: 0;
  margin-bottom: 0;
}

#scores li {
  margin-bottom: 0;
  line-height: 1rem;
}

.score-name {
  width: 29%;
  text-align: right;
  margin-right: .5rem;
  padding-right: 3%;
  display: inline-block;
}

.score-bar-container {
  width: 65%;
  height: 1.5rem;
  display: inline-block;
}

.score-bar {
  border-radius: 2px;
  display: inline-block;
  height: 1rem;
  min-width: 1px;
}

.score-target {
  display: inline-block;
  min-width: 1px;
  font-family: 'Cabin Sketch', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.score-bar-container wired-card {
  /* accounts for unchangeable minimum width of wired-cards, which pushes bar too far to right */
  margin-left: -3%;
}

.target-border {
  border-left: 2px dashed #555;
  position: relative;
  float: right;
  min-width: 1px;
  height: 1.3rem;
}

.winner {
  color: #7dd3ef;
}

.button-container,
.card-container {
  margin: 0 auto;
  text-align: center;
}

/* player colors -- should really come from elsewhere */
.player-0 .dot,
.player-0 wired-card,
.player-0.banner {
  background-color: #ffaaaa;
}
.player-1 .dot,
.player-1 wired-card,
.player-1.banner  {
  background-color: #aaffb1;
}
.player-2 .dot,
.player-2 wired-card,
.player-2.banner  {
  background-color: #ffc519;
}
.player-3 .dot,
.player-3 wired-card,
.player-3.banner  {
  background-color: #ecb5ff;
}

/* Pages */

.left-rule {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid #c6c6c6;
}

aside {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

aside :last-child {
  margin-bottom: 0;
}

.aside-container {
  margin-bottom: 2rem;
}

.aside-container wired-card {
  width: 100%;
  box-sizing: border-box;
}

.emphasized wired-card {
  background-color: #e6ebe0;
}

/* Citations */

.citation {
  position: relative;
  cursor: help;
  margin: 0 .2rem;
  font-style: normal;
}

.citation > a {
  border-radius: 50%;
  background-color:#9BC1BC;
  color: white;
  width: 2rem;
  height: 2rem;
  line-height: 1.3;
  display: inline-block;
  text-align: center;
  vertical-align: baseline;
}

.citation > div {
  color: black;
  font-size: 80%;
  display: block;
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #E6EBE0;
  border: solid 1px gray;
  padding: 1rem;
  border-radius: .5rem;
  width: 35rem;
}

.citation p,
.citation div.p {
  text-align: center;
  color: black;
  margin: 0 0 1rem 0;
}

.citation a {
  word-break: break-word;
}

.citation table {
  margin: 0;
  width: 100%;
}

.citation th,
.citation td {
  vertical-align: top;
}

.citation th {
  padding: .2rem 1rem .2rem .2rem;
}

.citation td {
  padding: .2rem .2rem .2rem 1rem;
  min-width: 70%;
}

.citation tr:last-child,
.citation th,
.citation td {
  border-bottom: none;
}

.carousel {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 10px 40px;
}

.carousel img {
  display: block;
  margin: 0 auto;
  border: 4px solid #9BC1BC;
}

/* Rough Cirles */
.rough-circle {
  position: relative;
  margin-right: .5rem;
}

.rough-circle canvas {
  position: relative;
  top: .5rem;
}
