@import './reset.css';
@import './normalize.css';
@import './skeleton.css';
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Lato:400,700');

body {
  background: #e0e0e0;
  color: white;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.nav-container,
.header-container {
  width: 100%;
  background: #96e6ff;
}

.nav-container {
  padding-top: 1rem;
}

nav,
header {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}

header {
  /* position: relative; */
}

h1, h2, h3, h4 {
  font-family: 'Fredoka One', sans-serif;
  letter-spacing: .01rem;
}

h1 {
  font-size: 3.5rem;
}

h1 a,
h1 a:hover {
  text-decoration: none;
  color: inherit;
}

header h1 {
  font-size: 6rem;
  letter-spacing: .1rem;
  margin-top: 2rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2rem;
}

h2, h3, h4 {
  margin-bottom: .5rem;
}

main {
  background: #e0e0e0;
}

.button {
  height: 2.5rem;
  line-height: 2.5rem;
  border-color: #fff;
  width: 100%;
  padding: 0;
}

.button:hover,
.button:focus {
  background-color: #fff;
  border-color: #fff;
}

.button-primary:disabled,
.button-primary:disabled:hover {
  background-color: #e0e0e0;
  border-color: #e0e0e0;
}

.banner {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  width: 820px;
  height: 4.5rem;
  line-height: 3.9rem;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 2rem;
  opacity: .9;
  background-color: #777;
  color: #fff;
}

.main-content,
.canvas-container {
  max-width: 800px;
  min-height: 50vh;
  margin: 2rem auto;
  padding: 2.5rem;
  box-sizing: border-box;
  background-color: #fff;
  color: #555;
}

.canvas-container {
  width: 800px;
  height: 600px;
  padding: 0;
}

canvas {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.lobby {
  padding-top: 0;
  padding-left: 8rem;
  padding-right: 8rem;
  font-size: 2rem;
}

.lobby h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: .05rem;
}

.lobby ul {
  list-style: none;
  display: inline-block;
}

.lobby input,
.lobby button {
  height: 5rem;
  font-size: 2rem;
}

.lobby input {
  margin-right: 2rem;
}

.lobby button.start {
  margin-top: 3rem;
}

.player-info {
  padding-top: 6rem;
}

.rules {
  width: 70%;
  margin: 2rem auto;
  text-align: center;
}

.rule h2 {
  /* font-family: 'Lato'; */
  /* font-weight: 700; */
  display: inline-block;
  font-size: 1.6rem;
  background-color: #f7e8ff;
  padding: .5rem 1rem;
  border-radius: 2rem;
  margin-bottom: 0;
  letter-spacing: normal;
}

.rule p {
  font-size: 1.6rem;
  margin-bottom: 0;
}

.rule {
  margin-bottom: 1.5rem;
}

.rule:first-child h2 {
  background-color: #e3a3ff;
}

.reminder {
  text-align: center;
  font-size: 1.4rem;
  margin-top: 5rem;
}

.waiting-players {
  opacity: .7;
}

.name-form {
  text-align: center;
}

.alert {
  background-color: #fff4e0;
  line-height: 1.5rem;
  border: 1px solid #fcd88f;
  padding: .5rem;
  font-size: 1.3rem;
  border-radius: 2px;
}

#scores {
  background-color: #fff;
  border-radius: 5px;
  color: #555;
  font-size: 1.2rem;
  letter-spacing: .05rem;
  padding: .5rem;
  margin-top: .7rem;
  box-sizing: border-box;
}

#scores ul {
  list-style: none;
  text-indent: 0;
  margin-bottom: 0;
}

#scores li {
  margin-bottom: 0;
  line-height: 1rem;
}

.score-name {
  width: 29%;
  text-align: right;
  margin-right: .5rem;
  display: inline-block;
}

.score-bar-container {
  width: 65%;
  height: 1.5rem;
  display: inline-block;
}

.score-bar {
  border-radius: 2px;
  display: inline-block;
  height: 1rem;
  min-width: 1px;
}

.score-target {
  display: inline-block;
  min-width: 1px;
}

.target-border {
  border-left: 1px dashed #555;
  position: relative;
  float: right;
  min-width: 1px;
  height: 1.3rem;
}

.winner {
  font-weight: bold;
}

.button-container {
  margin: 0 auto;
}

/* player colors -- should really come from elsewhere */
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-right: 1rem;
  display: inline-block;
  background-color: #555;
}
.player-0 .dot,
.player-0 .score-bar,
.player-0.banner {
  background-color: #ffaaaa;
}
.player-1 .dot,
.player-1 .score-bar,
.player-1.banner  {
  background-color: #ffee75;
}
.player-2 .dot,
.player-2 .score-bar,
.player-2.banner  {
  background-color: #ecb5ff;
}
.player-3 .dot,
.player-3 .score-bar,
.player-3.banner  {
  background-color: #aaffb1;
}

/* Pages */

.left-rule {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid #e0e0e0;
}
